<form>
	<fieldset>
		<legend>New Post</legend>
		<input type="text" id="postTitle" placeholder="Title">
		<textarea rows="5" id="postContent" placeholder="Content"></textarea>
		<div class="button">
			<button type="button" class="btn btn-info" id="addNewPost">Post this post!</button>
		</div>
	</fieldset>
</form>